

NET "sendCounter[6]" LOC = K15;
NET "sendCounter[5]" LOC = J13;
NET "sendCounter[4]" LOC = N14;
NET "sendCounter[3]" LOC = R18;
NET "sendCounter[2]" LOC = V17;
NET "sendCounter[1]" LOC = U17;
NET "sendCounter[0]" LOC = U16;
NET "clk" LOC = E3;
NET "ledDataAvailable" LOC = V11;
NET "ledIdle" LOC = V12;
NET "notStartUartTx" LOC = V14;
NET "sendCounter[7]" LOC = H17;
NET "reset" LOC = N17;
NET "sentFlag" LOC = V15;
NET "uartRxPin" LOC = C4;
NET "uartTxPin" LOC = D4;

# PlanAhead Generated IO constraints 

NET "sendCounter[7]" IOSTANDARD = LVCMOS18;
NET "sendCounter[6]" IOSTANDARD = LVCMOS18;
NET "sendCounter[5]" IOSTANDARD = LVCMOS18;
NET "sendCounter[4]" IOSTANDARD = LVCMOS18;
NET "sendCounter[3]" IOSTANDARD = LVCMOS18;
NET "sendCounter[2]" IOSTANDARD = LVCMOS18;
NET "sendCounter[1]" IOSTANDARD = LVCMOS18;
NET "sendCounter[0]" IOSTANDARD = LVCMOS18;
NET "ledIdle" IOSTANDARD = LVCMOS18;
NET "clk" IOSTANDARD = LVCMOS18;
NET "ledDataAvailable" IOSTANDARD = LVCMOS18;
NET "notStartUartTx" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;
NET "sentFlag" IOSTANDARD = LVCMOS18;
NET "uartRxPin" IOSTANDARD = LVCMOS18;
NET "uartTxPin" IOSTANDARD = LVCMOS18;
